    /*---------- All Pages ----------*/
    body {
        margin: 0;
        background-color: #0B0D17;
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;

    }

    header {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin: auto 60px;
    }

    .header-hr {
        border: 0;
        border-top: 1px solid #ffffff;
        flex-grow: 1;
        opacity: 25%;
        margin: auto 0 auto auto;
    }

    .header-nav-row {
        padding: 40px 12% 40px 0;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40px);
        display: inline-block;
    }

    .header-nav-hr {
        margin: auto 90px auto 0;
        border: 0;
        border-top: 1px solid #ffffff;
        opacity: 25%;
        width: 30px;
        height: 5px;
        display: inline-block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        padding: 80px 10% 40px 0;
        background-color: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40px);

    }

    .menu-icon {
        display: none;
        position: absolute;
        top: 26px;
        right: 25px;
        width: 24px;
    }

    .close-icon {
        display: none;
        position: absolute;
        top: 24px;
        right: 25px;
        width: 24px;
    }

    .header-nav-button {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        letter-spacing: 2.7px;
        color: #ffffff;
        text-decoration: none;
        margin: 20px;
        padding: 37px 0;
        text-transform: uppercase;

    }

    .header-nav-button:hover {
        border-bottom: 3px solid rgba(255, 255, 255, .5);
    }

    .current-page {
        border-bottom: 3px solid white;
    }

    .nav-num {
        font-weight: bold;
    }

    .body-text {
        font-family: "Barlow", sans-serif;
        font-size: 18px;
        line-height: 32px;
        color: #D0D6F9;
    }

    /*---------- Home Page ----------*/
    .body-home {
        background-image: url("../assets/home/background-home-desktop.jpg");
    }

    .container-text-home {
        position: absolute;
        bottom: 12%;
        left: 12%;
        padding: 0;
    }

    .prompt-home {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 28px;
        letter-spacing: 4.75px;
        color: #D0D6F9;
        text-transform: uppercase;
    }

    .title-home {
        font-family: "Bellefair", sans-serif;
        font-size: 150px;
        margin: 20px 0;
        line-height: 172px
    }

    .home-text {
        width: 450px;
    }

    .explore-container {
        display: inline-flex;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }

    .explore-btn {
        font-family: "Bellefair", sans-serif;
        font-size: 32px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #ffffff;
        color: #000000;
        background-clip: padding-box;
        border-radius: 50%;
        width: 274px;
        line-height: 274px;
        text-align: center;
        border: 88px solid rgba(255, 255, 255, 0);
    }

    .explore-btn:hover {
        border-color: rgba(255, 255, 255, 0.1);
    }

    /*---------- All pages, except home ----------*/
    .page-prompt {
        margin: 60px 165px;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        color: #ffffff;
        text-transform: uppercase;
    }

    .page-prompt-num {
        font-weight: bold;
        opacity: 25%;
        margin-right: 10px;
    }

    /*---------- Destination Page ----------*/
    .body-destination {
        background-image: url("../assets/destination/background-destination-desktop.jpg");
    }

    .dest-image {
        display: inline-flex;
        position: absolute;
        bottom: 12%;
        left: 16%;
    }

    .container-text-dest {
        position: absolute;
        bottom: 12%;
        right: 12%;
        width: 450px;
    }

    .dest-nav {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        letter-spacing: 2.7px;
        color: #D0D6F9;
        text-decoration: none;
        margin: 15px;
        padding: 10px 0;
        text-transform: uppercase;

    }

    .dest-nav:hover {
        border-bottom: 3px solid rgba(255, 255, 255, .5)
    }

    .current-dest {
        color: #ffffff;
        border-bottom: 3px solid #ffffff;
    }

    .title-dest {
        font-family: "Bellefair", sans-serif;
        font-size: 100px;
        margin: 40px 0 20px 0;
        line-height: 115px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .stats-hr {
        border: 0;
        border-top: 1px solid #D0D6F9;
        opacity: 20%;
        margin: 50px 0 20px 0;
    }

    .stats {
        display: inline-block;
        width: 220px;
    }

    .stat-text {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 2.36px;
        color: #D0D6F9;
        text-transform: uppercase;

    }

    .stat-value {
        font-family: "Bellefair", sans-serif;
        font-size: 28px;
        line-height: 32px;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
    }

    /*---------- Crew Page ----------*/
    .body-crew {
        background-image: url("../assets/crew/background-crew-desktop.jpg");
    }

    .mobile-hr {
        display: none;
        width: 330px;
        border: 0;
        border-top: 1px solid #ffffff;
        opacity: 25%;
        position: absolute;
        right: 0;
        left: 0;
    }

    .container-text-nav-crew {
        position: absolute;
        bottom: 10%;
        left: 12%;
    }

    .crew-image {
        display: inline-flex;
        position: absolute;
        bottom: 0;
        right: 10%;
    }

    .crew-role {
        font-family: "Bellefair", sans-serif;
        font-size: 32px;
        margin: 100px 0 10px 0;
        line-height: 37px;
        text-transform: uppercase;
        opacity: 50%;
        color: #ffffff;
    }

    .crew-name {
        font-family: "Bellefair", sans-serif;
        font-size: 56px;
        margin: 0 0 20px 0;
        line-height: 64px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .crew-text {
        width: 450px;
    }

    .crew-nav-bar {
        margin-top: 100px;
    }

    .crew-nav {
        display: inline-block;
        border: 7.5px solid rgba(255, 255, 255, 17%);
        border-radius: 50%;
        margin: 10px;
    }

    .crew-nav:hover {
        border-color: rgba(255, 255, 255, 50%);
    }

    .current-crew {
        border-color: #ffffff;
    }

    /*---------- Tech Page ----------*/
    .body-tech {
        background-image: url("../assets/technology/background-technology-desktop.jpg");
    }

    .container-tech {
        margin: 100px 165px auto 165px;
        display: flex;
        justify-content: space-between;
    }

    .container-text-nav-tech {
        position: absolute;
        bottom: 25%;
        left: 10%;
    }

    .tech-image {
        display: inline-flex;
        position: absolute;
        bottom: 15%;
        right: 10%;
    }

    .tech-nav-bar {
        width: 180px;
        height: 350px;
        display: inline-block;
        line-height: 80px;
        overflow: hidden;
    }

    .tech-nav {
        font-family: "Bellefair", sans-serif;
        font-size: 32px;
        line-height: 80px;
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 25%);
        border-radius: 50%;
        width: 80px;
        margin: 20px;
        text-align: center;

    }

    .tech-nav:hover {
        border-color: rgba(255, 255, 255, 100%)
    }

    .current-tech {
        background-color: #ffffff;
        color: #000000;
    }

    .container-text-tech {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 320px;
        overflow: hidden;
    }

    .tech-term {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 16px;
        margin: 0 0 10px 0;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        color: #D0D6F9;
    }

    .tech-name {
        font-family: "Bellefair", sans-serif;
        font-size: 56px;
        margin: 0 0 20px 0;
        line-height: 64px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .tech-text {
        width: 450px;
    }

@media screen and (max-width: 1500px) {
    /*---------- Tech Page ----------*/
    .container-text-nav-tech {
        position: absolute;
        bottom: 25%;
        left: 10%;
    }

    .tech-image {
        right: 0;
    }
}
@media screen and (max-width: 1200px){
    /*---------- All Pages ----------*/
    header {
        margin-top: 0;
    }

    .logo {
        margin: auto 40px;
    }

    .header-hr {
        display: none;
    }

    .header-nav-row {
        padding: 38px 40px;
    }

    .header-nav-hr {
        display: none;
    }

    .header-nav-button {
        margin: 15px;
        padding-bottom: 35px;
        font-size: 14px;
        letter-spacing: 2.3625px;
    }

    .header-nav-button:hover {
        border-bottom: 3px solid rgba(255, 255, 255, .5);
    }

    .current-page {
        border-bottom: 3px solid white;
    }

    .nav-num {
        display: none;
    }

    .body-text {
        font-size: 16px;
        line-height: 28px;
    }

    /*---------- Home Page ----------*/
    .body-home {
        background-image: url("../assets/home/background-home-tablet.jpg");
    }

    .container-text-home {
        position: static;
        margin: 12% auto 0 auto;
        text-align: center;
        width: 100%;
    }

    .prompt-home {
        font-size: 20px;
        letter-spacing: 3.375px;
        right: 0;
        left: 0;
    }

    .home-text {
        width: 440px;
        margin: auto;
    }

    .explore-container {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        position: static;
    }

    .explore-btn {
        width: 242px;
        line-height: 242px;
        border: 50px solid rgba(255, 255, 255, 0);
    }

    /*---------- All pages, except home ----------*/
    .page-prompt {
        margin: 40px 40px 60px 40px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }

    /*---------- Destination Page ----------*/
    .body-destination {
        background-image: url("../assets/destination/background-destination-tablet.jpg");
    }

    .dest-image {
        display: flex;
        position: static;
        margin: auto;
        width: 300px;
    }

    .container-text-dest {
        position: static;
        margin: 5% auto 0 auto;
        text-align: center;
        width: 100%;
    }

    .container-text-dest {
        width: 550px;
    }

    .title-dest {
        font-size: 80px;
        margin: 40px 0 10px 0;
        line-height: 92px;
    }

    /*---------- Crew Page ----------*/
    .body-crew {
        background-image: url("../assets/crew/background-crew-tablet.jpg");
    }

    .container-text-nav-crew {
        position: static;
        margin: 5% auto 0 auto;
        text-align: center;
        height: 232px;
    }

    .crew-role {
        font-size: 24px;
        margin: 0 0 10px 0;
        line-height: 28px;
    }

    .crew-name {
        font-size: 40px;
        margin: 0 0 15px 0;
        line-height: 46px;
    }

    .crew-text {
        margin: 0 auto;
        word-wrap: break-word;
        overflow: unset;
        width: 590px;
    }

    .crew-nav-bar {
        margin-top: 30px;
    }

    .crew-nav {
        border: 5px solid rgba(255, 255, 255, 17%);
    }

    .current-crew {
        border-color: #ffffff;
    }

    .crew-image {
        display: inline-block;
        right: 0;
        left: 0;
        align-items: center;
        margin: auto;
        height: 532px;
    }

    /*---------- Tech Page ----------*/
    .body-tech {
        background-image: url("../assets/technology/background-technology-tablet.jpg");
    }

    .container-text-nav-tech {
        position: static;
        margin: 5% auto 0 auto;
        text-align: center;
        width: 100%;
    }

    .tech-image {
        position: static;
        display: flex;
        width: 100%;
    }

    .tech-nav-bar {
        width: auto;
        height: auto;
        display: block;
        line-height: 80px;
        margin: 20px;
    }

    .tech-nav {
        font-size: 24px;
        width: 60px;
        line-height: 60px;
        display: inline-flex;
        justify-content: center;
        margin: 10px;

    }

    .container-text-tech {
        margin: 20px;
    }

    .tech-name {
        font-size: 40px;
        margin: 0;
    }

    .tech-text {
        width: 440px;
    }
}
@media screen and (max-width: 650px){
    /*---------- All Pages ----------*/
    header{
        margin-top: 0;
    }

    .logo {
        width: 40px;
        margin: 20px 20px;
    }

    .header-hr {
        display: none;
    }

    .header-nav-row {
        display: none;
    }

    .header-nav-hr {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        display: block;
    }

    .header-nav-button {
        display: block;
        margin: 30px 40px;
        padding: 5px 0;
    }

    .header-nav-button:hover {
        border-bottom: 3px solid rgba(255, 255, 255, .5);
    }

    .current-page {
        border-bottom: 1px solid white;
    }

    .nav-num {
        display: inline;
    }

    .body-text {
        font-size: 15px;
        line-height: 25px;
    }

    /*---------- Home Page ----------*/
    .body-home {
        background-image: url("../assets/home/background-home-mobile.jpg");
    }

    .title-home {
        font-size: 88px;
        line-height: 100px;
    }

    .home-text {
        width: 330px;
    }

    .explore-btn {
        font-size: 20px;
        width: 150px;
        line-height: 150px;
    }



    /*---------- All pages, except home ----------*/
    .page-prompt {
        text-align: center;
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    /*---------- Destination Page ----------*/
    .body-destination {
        background-image: url("../assets/destination/background-destination-mobile.jpg");
    }

    .dest-image {
        width: 180px;
    }

    .dest-nav-bar {
        margin-top: 20px;
    }

    .dest-nav {
        margin: 10px ;
    }

    .title-dest {
        font-size: 56px;
        margin: 40px 0 0 0;
        line-height: 30px;
    }

    .container-text-dest {
        width: 327px;
        margin: 0 auto 0 auto;
    }

    .stats-hr {
        margin: 25px 0 25px 0;
    }


    /*---------- Crew Page ----------*/
    .body-crew {
        background-image: url("../assets/crew/background-crew-mobile.jpg");
    }

    .crew-image {
        bottom: auto;
        top: 60px;
        height: 240px;
    }

    .mobile-hr {
        display: block;
        top: 352px
    }

    .crew-nav-bar {
        position: absolute;
        top: 350px;
        right: 0;
        left: 0;
    }

    .container-text-crew {
        position: absolute;
        right: 0;
        left: 0;
        top: 430px
    }

    .crew-role {
        font-size: 16px;
        line-height: 16px;
    }
    .crew-name {
        font-size: 24px;
        line-height: 24px;
    }

    .container-text-crew {
        width: 330px;
        margin: 0 auto 0 auto;
    }

    /*---------- Tech Page ----------*/
    .body-tech {
        background-image: url("../assets/technology/background-technology-mobile.jpg");
    }

    .tech-image {
        margin-top: 10px;
    }

    .tech-nav {
        font-size: 16px;
        width: 40px;
        line-height: 40px;
        margin: 10px;
    }
    .tech-term {
        font-size: 14px;
        letter-spacing: 2.3625px;
        margin: 0;
    }

    .tech-name {
        font-size: 24px;
        margin: 10px 0 15px 0;
        line-height: 24px;
    }

    .tech-text {
        width: 325px;
    }



}